<div class="container">
    <div>
        <h2>Modifier un Voiture :</h2>
    </div>
    <form>
        <div class="col-sm-2 col-md-2 col-lg-2"> <label>ID Voiture</label> <input type="text" readonly
                [(ngModel)]="currentVoiture.matriculeVoit" name="matriculeVoit" class="form-control"> </div>
        <div class="col-sm-4 col-md-4 col-lg-4"> <label>Nom Voiture</label> <input type="text"
                [(ngModel)]="currentVoiture.marqueVoit" name="marqueVoit" class="form-control"> </div>
        <div class="col-sm-2 col-md-2 col-lg-2"> <label>Prix Voiture</label> <input type="number"
                [(ngModel)]="currentVoiture.prixVoit" name="prixVoit" class="form-control"> </div>
        <div class="col-sm-4 col-md-4 col-lg-4"> <label>Date création</label> <input type="date"
                [ngModel]="currentVoiture.dateRelease | date: 'yyyy-MM-dd'"
                (ngModelChange)=" currentVoiture.dateRelease= $event" name="dateRelease" class="form-control"> </div>
        <div class="mt-2"> <button type="submit" (click)="updateVoiture()" class="btn btn-success">Modifer</button>
        </div>
    </form>
</div>